#DirectoryIndex index.php index.php index.html index.htm

#Header set Access-Control-Allow-Origin "*"

#Options +FollowSymlinks -MultiViews

ErrorDocument 404 http://admin.market-20.com/404/

RewriteEngine on
RewriteCond %{SERVER_PORT} 80 
#RewriteRule ^(.*)$ https://admin.market-20.com/$1 [R,L]
RewriteBase /
Options -Multiviews

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^([a-zA-Z-]+)/?$ $1.php [NC,L]
